.page-login:before {
    background-image: url(../img/bg-01.jpg);
}
.page-login.admin:before {
    background-image: url(../img/login.jpg);
}

.page-login form {
    width: 100%;
    margin: 3rem 0;
}

.page-login form a {
    margin-left: 20px;
}
.page-login:not(.admin) .page-content{
    background: rgba(3,2,2,0.2);
    height: 100%;
    padding: 150px 0 0 0 !important;
}
.page-login .page-content{
    width: 480px;
}
#instrucciones{
    background: #FFF;
    color: #231f20;
}
#instrucciones h1{
    color: #009999;
}
#instrucciones .stage{
    background: transparent url("../img/detail-instructions.svg") 100% 38% no-repeat;
    background-size: 507px 15px;
}

@media (max-width: 767.98px) {
    .page-login form {
        width: auto;
    }
}

