@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&display=swap');

body {
    font-family: 'Baloo Thambi 2', cursive !important;
}

hr {
    color: #71726a;
    opacity: 1;
}
.navbar .collapse.show ul{
    margin-top: 1rem;
}
.navbar .collapse.show li {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.site-navbar-small {
    padding-top: 61px;
}

.layout-full {
    height: 100%;
    padding-top: 0 !important;
}

.layout-full .page {
    height: 100%;
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
}

.layout-full > .loader {
    margin-left: 0 !important;
}


.page-dark.layout-full {
    position: relative;
    z-index: 0;
    color: #fff;
}

.page-dark.layout-full::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center top;
    background-size: cover;
}


.page-dark.layout-full::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(38, 50, 56, 0.6);
}

.page-dark.layout-full .brand {
    margin-bottom: 22px;
}

.page-dark.layout-full .brand-text {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.page {
    position: relative;
    min-height: calc(100% - 44px);
    background: #f1f4f5;
}

.page-content {
    padding: 30px 30px;
    display: inline-block;
    max-width: 100%;
    font-size: 1rem;
}


.page-dark.layout-full {
    position: relative;
    z-index: 0;
    color: #fff;
}

.page-dark.layout-full::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center top;
    background-size: cover;
}

.page-dark.layout-full::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(38, 50, 56, 0.6);
}

.page-dark.layout-full .brand {
    margin-bottom: 22px;
}

.page-dark.layout-full .brand-text {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}


a.navbar-brand {
    font-size: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
}

.navbar-manu {
    background: rgba(0, 29, 29, 0.8);
    -webkit-box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -2px 5px 0 rgba(0, 0, 0, 0.4);
}

.navbar-manu .navbar-nav .nav-link,
.site-footer a {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-manu .navbar-nav .nav-link:hover,
.navbar-manu .navbar-nav .nav-link:focus,
.site-footer a:hover,
.site-footer a:focus,
.navbar-manu .active {
    color: #ffffff !important;
}

.site-footer {
    height: 44px;
    padding: 10px 30px;
    background-color: #009999;
    border-top: 1px solid #e4eaec;
    color: #FFF;
}

.site-footer-legal {
    float: left;
}

.site-footer-right {
    float: right;
}

.form-floating > label {
    color: #2e3336;
}

.bg-primary {
    background-color: #009999 !important;
}

.text-primary {
    color: #009999 !important;
}

.bg-secondary {
    background-color: #e01281 !important;
}

.text-secondary {
    color: #e01281 !important;
}

.img-thumbnail {
    background: #009999;
}

@media (min-width: 768px) {
    .row-equal {
        display: flex;
        flex-wrap: wrap;
    }
    .col-equal {
        margin: auto;
    }
}